{% extends "admin/masterAdmin.html.twig" %}
{% block content %}

{% if errorList %}
    <ul class="errorMessage">
      {% for error in errorList %}
        <li>{{error}}</li>
      {% endfor %}
    </ul>
{% endif %}

<div class="col-md-9">
  <div class="col-md-9">
            <!-- Website Overview -->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Delete User</h3>
              </div>
              <div class="panel-body">
              User name: {{ list.userName }}"<br>
              Email: {{ list.email }}"<br>
              Type: {{ list.type}}<br>
              Phone: {{ list.phone }}<br>
                <form  method="post">
                  <p>Please confirm this action. It is irreversible</p>
                  <input type="submit" value="Yes, delete the user">
                </form>
            <a href="/admin/user"><button>Cancel - go back</button></a>
              </div>
              </div>
</div>
</div>
{% endblock content %}